body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/photo1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 21%;
    background-attachment: local;
}
.main-container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
	height:100%;
}
.navbar-default {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    color: #fff;
    border-color: #E4EAF5;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #E4EAF5;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a
.navbar-default .navbar-brand:hover {
    background-color: #E4EAF5;
    color:#324051;
}
.carousel{
	height:18%;
}

.carousel-inner, .carousel-inner>.item {
   height: 100%;
}
.carousel-control.left,
.carousel-control.right {
    background: transparent;
}
.carousel-caption.jumbotron {
    background: transparent;
}
#aboutUs img{
    left:-1000px;
	margin-top:0;
	position: absolute;
}
#aboutUs.animate img{
	left:0;
	margin-top:50%;
}
#aboutUs #content1, #aboutUs #content2{
	right:-1000px;
	position: absolute;
}
#aboutUs.animate #content1{
	right:0px;
	position: relative;
	-webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#aboutUs.animate #content2{
	right:0px;
	position: relative;
	-webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media screen and (min-width: 768px) {
    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 82px;
    }
}
#aboutUs.animate img{
	left:0;
	margin-top:50%;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.down-next .btn{font-size:32px;}
.major-content:nth-child(odd){background-color: #E4EAF5; color:#324051;}
.major-content:nth-child(even){background-color: #324051; color:#E4EAF5;}
.major-content{height:20%; position: relative;}
.scroll-btns{position: absolute; bottom:10px;}